QA_API_BASE_URL=http://127.0.0.1:5000/api
QA_API_WAIT_URL=http://127.0.0.1:5000/swagger/index.html
QA_DATABASE_URL=postgresql://edulink_user:edulink_pass_change_me@127.0.0.1:5432/edulink_qa
QA_MOBILE_WEB_URL=http://127.0.0.1:4173
QA_MOBILE_WEB_PORT=4173
QA_ADMIN_PHONE=05330000001
QA_TEACHER_PHONE=05330000002
QA_PARENT_PHONE=05337102007
QA_KEEP_SERVICES=0
